/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    margin: 1rem;
    padding: 0.4rem;
    border-radius: 5px;
    border: none;
    background-color: darkgreen;
    color: white;
    cursor: pointer;
}